<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'WLS_fav.png' %}" type="image/png">
	<title> The mountains of Nepal </title>
	 <link 
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
		rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
		crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<header>
        <div class="row">
			<div class="col-2" style="background: green">
				<img 
				src="{% static "images/WLS_logo.png" %}" 
				id="WLS_logo"
				>
			</div>
			<div class="col-10" style="background: yellow">
                <div class="row">
                    <div class="col-3"><a href="http://127.0.0.1:8000/"> Главная </a></div>
                    <div class="col-3"><a href='http://127.0.0.1:8000/nepal_mounts/'> Горы Непала </a></div>
                    <div class="col-3"><a href="http://127.0.0.1:8000/russian_mounts/"> Горы России </a></div>
                    <div class="col-3"><a href="http://127.0.0.1:8000/sssr_mounts/"> Горы СССР </a></div>
                </div>
			</div>
		</div>
	</header>
    <main>
		<main >
		<div class="row">
			<div class="col-4" style="background: blue">
				<img 
				class="mountain_front_img"
				src="{% static "images/russian/elbrus_front.jpg" %}" 
				>
				<p class="mount_name"> Elbrus </p>
				<p class="mount_front_info"> 
					Краткое описание горы и переход на развернутую страницу -> 
					<a href="http://127.0.0.1:8000/russian_mounts/elbrus/">Подробнее...</a>
				</p>
			</div>
			<div class="col-4" style="background: red">
				<img 
				class="mountain_front_img"
				src="{% static "images/russian/dykhtau_front.jpg" %}" 
				>
				<p class="mount_name"> Dykhtau </p>
				<p class="mount_front_info"> 
					Краткое описание горы и переход на развернутую страницу -> 
					<a href="http://127.0.0.1:8000/russian_mounts/dykhtau/">Подробнее...</a>
				</p>
			</div>
			<div class="col-4" style="background: blue">
				<img 
				class="mountain_front_img"
				src="{% static "images/russian/koshtan_tau_front.jpg" %}" 
				>
				<p class="mount_name"> Koshtan-Tau </p>
				<p class="mount_front_info"> 
					Краткое описание горы и переход на развернутую страницу -> 
					<a href="http://127.0.0.1:8000/russian_mounts/koshtan_tau/">Подробнее...</a>
				</p>
			</div>
			<div class="col-4" style="background: red">
				<img 
				class="mountain_front_img"
				src="{% static "images/russian/mizhirgi_front.jpg" %}" 
				>
				<p class="mount_name"> Mizhirgi </p>
				<p class="mount_front_info"> 
					Краткое описание горы и переход на развернутую страницу -> 
					<a href="http://127.0.0.1:8000/russian_mounts/mizhirgi/">Подробнее...</a>
				</p>
			</div>
			<div class="col-4" style="background: blue">
				<img 
				class="mountain_front_img"
				src="{% static "images/russian/pushkin_peak_front.jpg" %}" 
				>
				<p class="mount_name"> Pushkin Peak </p>
				<p class="mount_front_info"> 
					Краткое описание горы и переход на развернутую страницу -> 
					<a href="http://127.0.0.1:8000/russian_mounts/pushkin_peak/">Подробнее...</a>
				</p>
			</div>
			<div class="col-4" style="background: red">
				<img 
				class="mountain_front_img"
				src="{% static "images/russian/dzhangi_tau_front.jpg" %}" 
				>
				<p class="mount_name"> Dzhangi-Tau </p>
				<p class="mount_front_info"> 
					Краткое описание горы и переход на развернутую страницу -> 
					<a href="http://127.0.0.1:8000/russian_mounts/dzhangi_tau/">Подробнее...</a>
				</p>
			</div>
			<div class="col-4" style="background: blue">
				<img 
				class="mountain_front_img"
				src="{% static "images/russian/shkhara_front.jpg" %}" 
				>
				<p class="mount_name"> Shkhara </p>
				<p class="mount_front_info"> 
					Краткое описание горы и переход на развернутую страницу -> 
					<a href="http://127.0.0.1:8000/russian_mounts/shkhara/">Подробнее...</a>
				</p>
			</div>
			<div class="col-4" style="background: red">
				<img 
				class="mountain_front_img"
				src="{% static "images/russian/kazbek_front.jpg" %}" 
				>
				<p class="mount_name"> Kazbek </p>
				<p class="mount_front_info"> 
					Краткое описание горы и переход на развернутую страницу -> 
					<a href="http://127.0.0.1:8000/russian_mounts/kazbek/">Подробнее...</a>
				</p>
			</div>
			<div class="col-4" style="background: blue">
				<img 
				class="mountain_front_img"
				src="{% static "images/russian/klyuchevskaya_sopka_front.jpg" %}" 
				>
				<p class="mount_name"> Klyuchevskaya Sopka </p>
				<p class="mount_front_info"> 
					Краткое описание горы и переход на развернутую страницу -> 
					<a href="http://127.0.0.1:8000/russian_mounts/klyuchevskaya_sopka/">Подробнее...</a>
				</p>
			</div>
			<div class="col-4" style="background: red">
				<img 
				class="mountain_front_img"
				src="{% static "images/russian/belukha_front.jpg" %}" 
				>
				<p class="mount_name"> Belukha </p>
				<p class="mount_front_info"> 
					Краткое описание горы и переход на развернутую страницу -> 
					<a href="http://127.0.0.1:8000/russian_mounts/belukha/">Подробнее...</a>
				</p>
			</div>
    </main>
    <footer>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
    